.container {

    &__feed {

        display:  flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &--h1 {

            // ad

        }

        &--p {

            // a

        }

        &--bilde{

            height: 300px;
            width: 1000px;

        }

    }

}