@import "_contacts";
@import "_about";


$font-size-sm: 12px;
$font-size-m: 14px;
$font-size-l: 18px;

$background-color-light: white;
$background-color-dark: black;
$background-color-button: green;

$global-width: 90%;




body {

    margin: 0px;
    padding: 0px;
    font-family: Georgia, serif;

}

.container {

    width: 100vw;
    height: 100vh;
    background-color: $background-color-light;

    
    &__nav {

        margin: 0px 30px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background: #3F5EFB;
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
        

        &__left {

            width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            font-family: serif;
            padding-left: 20px;

            &--link {

                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 30px;

            }

        }

        &__right {

            width: fit-content;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &--link {

                text-decoration: none;
                font-size: $font-size-l;
                color: black;
                margin-right: 10px;


            }


        }

    }

}